.accueil{
    width: 100%;
    margin: 0 ;
    min-height: 100vh;   
}

.accueil .banniere{
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-image: url(https://i.pinimg.com/736x/56/5f/e1/565fe165aa1ee1ad560054029a5b39f7.jpg);
    filter: blur(1px);
    -webkit-filter: blur(2px);
    position: absolute;
}

.accueil .banner{
position: relative;
top: 250px;
width: 90%;
min-height: 250px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
border: #000 2px dashed;
background-color: rgb(255 255 255 / 50%);
padding: 2rem;


}

.banner h1{
    color: #000;
    text-align: start;
    font-weight: 900;
}

.banner p {
    color: #000;
    text-align: start;
    font-size: 24px;
    font-weight: 900;
    font-family: CloudScript;
    margin-bottom: 1rem;
}
.banner a{
    margin :0;
    display: block;
    text-align: center;
    font-family: CloudScript;
    background-color: #966d75;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.banner a:hover {
    background-color: #4d2d33;
}

@media screen and (min-width: 768px) {
    .accueil .banner {
        width: 40%;
    }
}
