@font-face {
    font-family: "Huova";
    src: url("../font/HuovaDemo-Light.otf");
  }
  
  @font-face {
    font-family: "CloudScript";
    src: url("../font/CloudScript-Regular 400.otf");
  }
  
  /***** Style global *****/
section {
    width: 100%;
    min-height: 50vh;
}

h1{
    font-family: Huova;
    font-size: 36px;
    color: #966d75;
    text-align: center;
}

h2{
    text-align: center;
    font-family: CloudScript;
}

/* Disposition photos dans les albums */

.tab_pt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* -- */

.photos{
    margin-bottom: 2rem;
    position: relative;
}
.photos form{
    position: absolute;
    left: 130px;
    bottom: 200px;
}
.photos form button{
    border: none;
    margin: 5px;
    padding: 5px;
    background-color: #4d2d33;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.photos img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
} 

.photos p{
    text-align: start;
    font-family: CloudScript;
    text-transform: capitalize;
}


/*Page avec tous les albums*/

.album_tab{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.album{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

}

.album form{
    position: absolute;
    left: 130px;
    bottom: 180px;
}
.album form button{
    border: none;
    margin: 5px;
    padding: 5px;
    background-color: #4d2d33;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

#album{
    text-decoration: none;
    color:#4d2d33;
}

.album img{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    object-fit: cover;

}
.album p{
    font-family: CloudScript;
    font-size: 18px;
}




/*Agrandissement d'image*/



.thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*--*/

/*Tags*/

.tags span {
font-size: 14px;
}


