@font-face {
    font-family: "Huova";
    src: url("../font/HuovaDemo-Light.otf");
}
  
@font-face {
    font-family: "CloudScript";
    src: url("../font/CloudScript-Regular 400.otf");
}

/***** Style global *****/

form.add-album{
    margin-bottom: 2rem;
}



.add-album {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.add-album input[type="text"] {
    font-family: CloudScript;
    width: 300px;
    height: 40px;
    border: 2px solid var(--main-color, #966d75);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.add-album button {
    font-family: CloudScript;
    padding: 10px 20px;
    background-color: #966d75;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-album button:hover {
    background-color: #4d2d33;
}

.add-album label{
    font-family: CloudScript;
    width: 300px;
    height: 40px;
    border: 2px solid var(--main-color, #966d75);
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

/***** Upload-file *****/
.span {
    margin-top: 20px;
    text-decoration: none;
    color: #4d2d33;
  }
  
.span a {
    color: #4d2d33;
}

.span a:hover {
    color:#966d75;
}

.add-album label.upload-file {
    font-family: CloudScript;
    padding: 10px 20px;
    background-color: #966d75;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
}

.add-album label.upload-file i {
    margin-right: 15px;
    font-size: 17px;
}

.add-album label.upload-file:hover {
    background-color: #4d2d33;
}