/***** Polices d'écritures *****/
@font-face {
  font-family: "Huova";
  src: url("../font/HuovaDemo-Light.otf");
}

@font-face {
  font-family: "CloudScript";
  src: url("../font/CloudScript-Regular 400.otf");
}
/***** Style global *****/
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: 0;
  background-color: #fff3ea;

}

.app{
  width: 100%;
  min-height: 100vh;
}

/***** Header *****/
header{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 20px 5px;
  width: 100%;
  background-color: #4d2d33;
  text-decoration: none;
  padding: 5px;
}

/***** Sidenav *****/
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  background-color: #4d2d33;
  color: #fff;
}


/**Commun Side et desktop**/

.sidenav a , .desktop-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  font-family: CloudScript;
  color: #fff;
}

.sidenav a:nth-child(2), .desktop-nav a:nth-child(1) {
  font-family: Huova;
  font-size: 28px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}
  
/***** Icônes*****/
.bx-menu{
  font-size: 45px;
  color: #fff;
}

/***** Desktop *****/
.desktop-nav {
  display: none; 
  width: 100%;
  background-color: #4d2d33;
  text-align: center;
  padding-top: 0.5rem ;
  padding-bottom: 0.5rem;
}

/***** Footer *****/
footer{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
  padding: 1rem;
  color: #111;
  font-size: 25px;
}


/***** Mobile *****/
@media (min-width: 870px) {
  header {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    color: #fff;
  }

  .sidenav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  span[onclick="openNav()"] {
    display: none;
  }

  footer {
    box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
  }
}

/***** Button Recherche *****/

header form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
 
}
.group input{
  border: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  font-family: CloudScript;
}

.group button {
  border: none;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 1rem;

}

